{% include 'overall_header.html' %}

<script>
	var form_name = 'acp_board_notice';
	var text_name = 'board_notice_text';
	var load_draft = false;
	var upload = false;
	var imageTag = true;
</script>

<a id="maincontent"></a>
<a href="{{ U_BACK }}" style="float: {{ S_CONTENT_FLOW_END }};">&laquo; {{ lang('BACK') }}</a>

<h1>{{ lang('ACP_BOARD_NOTICE_SETTINGS') }}</h1>

<p>{{ lang('ACP_BOARD_NOTICE_SETTINGS_EXPLAIN') }}</p>

{% if ERRORS %}
	<div class="errorbox">
		<h3>{{ lang('WARNING') }}</h3>
		<p>{{ ERRORS }}</p>
	</div>
{% endif %}

<form id="acp_board_notice" method="post" action="{{ U_ACTION }}">
	{% if NOTICE_ID %}
		<input type="hidden" name="id" value="{{ NOTICE_ID }}" />
	{% endif %}
	<fieldset>
		<legend>{{ lang('GENERAL_OPTIONS') }}</legend>
		<dl>
			<dt><label for="board_notice_active">{{ lang('LABEL_BOARD_NOTICE_ACTIVE') ~ lang('COLON') }}</label></dt>
			<dd>
				<label><input type="radio" class="radio" id="board_notice_active" name="board_notice_active" value="1"{% if BOARD_NOTICE_ACTIVE %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="board_notice_active" value="0"{% if not BOARD_NOTICE_ACTIVE %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="board_notice_title">{{ lang('LABEL_BOARD_NOTICE_TITLE') ~ lang('COLON') }}</label></dt>
			<dd>
				<input name="board_notice_title" type="text" id="board_notice_title" value="{{ BOARD_NOTICE_TITLE }}" size="50" maxlength="100" />
			</dd>
		</dl>
		<dl>
			<dt><label for="board_notice_dismissable">{{ lang('LABEL_BOARD_NOTICE_DISMISSABLE') ~ lang('COLON') }}</label>
				<br /><span>{{ lang('LABEL_BOARD_NOTICE_DISMISS_EXPLAIN') }}</span></dt>
			<dd>
				<label><input type="radio" class="radio" id="board_notice_dismissable" name="board_notice_dismissable" value="1"{% if BOARD_NOTICE_DISMISSABLE %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="board_notice_dismissable" value="0"{% if not BOARD_NOTICE_DISMISSABLE %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="board_notice_reset_after">{{ lang('LABEL_BOARD_NOTICE_RESET_AFTER') ~ lang('COLON') }}</label>
				<br /><span>{{ lang('LABEL_BOARD_NOTICE_RESET_EXPLAIN') }}</span></dt>
			<dd>
				<input name="board_notice_reset_after" type="text" id="board_notice_reset_after" value="{{ BOARD_NOTICE_RESET_AFTER }}" size="10" maxlength="5" /> {{ lang('RULE_DAY(S)') }}
			</dd>
		</dl>
	</fieldset>

	{% if BOARD_NOTICE_PREVIEW %}
		<fieldset>
			<legend>{{ lang('LABEL_BOARD_NOTICE_PREVIEW') }}</legend>
			<div style="padding:10px; font-size:1.0em; overflow: auto; {% if BOARD_NOTICE_BGCOLOR %}background-color:#{{ BOARD_NOTICE_BGCOLOR }}{% endif %}">{{ BOARD_NOTICE_PREVIEW }}</div>
		</fieldset>
	{% endif %}

	<fieldset>
		<legend>{{ lang('LABEL_BOARD_NOTICE_TEXT') }}</legend>
		<dl>
			<dt><label for="board_notice_bgcolor">{{ lang('LABEL_BOARD_NOTICE_BGCOLOR') ~ lang('COLON') }}</label><br /><span>{{ lang('LABEL_BOARD_NOTICE_BGCOLOR_EXPLAIN') }}</span></dt>
			<dd>
				<input name="board_notice_bgcolor" type="text" id="board_notice_bgcolor" value="{{ BOARD_NOTICE_BGCOLOR }}" size="6" maxlength="6" {% if BOARD_NOTICE_BGCOLOR %}style="border-right:20px solid #{{ BOARD_NOTICE_BGCOLOR }}"{% endif %} />
			</dd>
		</dl>
		{% include 'acp_posting_buttons.html' %}

		<dl class="responsive-columns">
			<dt style="width: 90px;" id="color_palette_placeholder" data-orientation="v" data-height="12" data-width="15" data-bbcode="true"></dt>
			<dd style="margin-{{ S_CONTENT_FLOW_BEGIN }}: 90px;">
				<textarea name="board_notice_text" rows="10" cols="60" style="width: 95%;" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" data-bbcode="true">{{ BOARD_NOTICE_TEXT }}</textarea>
			</dd>
			<dd style="margin-{{ S_CONTENT_FLOW_BEGIN }}: 90px; margin-top: 5px;">
				{% if S_BBCODE_ALLOWED %}
					<label><input type="checkbox" class="radio" name="disable_bbcode"{% if S_BBCODE_DISABLE_CHECKED %} checked="checked"{% endif %} /> {{ lang('DISABLE_BBCODE') }}</label>
				{% endif %}
				{% if S_SMILIES_ALLOWED %}
					<label><input type="checkbox" class="radio" name="disable_smilies"{% if S_SMILIES_DISABLE_CHECKED %} checked="checked"{% endif %} /> {{ lang('DISABLE_SMILIES') }}</label>
				{% endif %}
				{% if S_LINKS_ALLOWED %}
					<label><input type="checkbox" class="radio" name="disable_magic_url"{% if S_MAGIC_URL_DISABLE_CHECKED %} checked="checked"{% endif %} /> {{ lang('DISABLE_MAGIC_URL') }}</label>
				{% endif %}
			</dd>
			<dd style="margin-{{ S_CONTENT_FLOW_BEGIN }}: 90px; margin-top: 10px;"><strong>{{ lang('OPTIONS') ~ lang('COLON') }} </strong>{{ lang('BBCODE_IS_ON') }} :: {{ lang('IMAGES_ARE_ON') }} :: {{ lang('URL_IS_ON') }} :: {{ lang('SMILIES_ARE_ON') }}</dd>
			<dd style="margin-{{ S_CONTENT_FLOW_BEGIN }}: 90px; margin-top: 10px;"><strong>{{ lang('INFORMATION') ~ lang('COLON') }} </strong>{{ lang('VARIABLES_EXPLAIN') }}</dd>
		</dl>

		<dl>
			<dt><label for="board_notice_style">{{ lang('LABEL_BOARD_NOTICE_STYLE') ~ lang('COLON') }}</label><br /><span>{{ lang('LABEL_BOARD_NOTICE_STYLE_EXPLAIN') }}</span></dt>
			<dd>
				<input name="board_notice_style" type="text" id="board_notice_style" value="{{ BOARD_NOTICE_STYLE }}" size="50" maxlength="100" />
			</dd>
		</dl>
	</fieldset>

	<h1>{{ lang('ACP_BOARD_NOTICE_RULES') }}</h1>

	<p>{{ lang('ACP_BOARD_NOTICE_RULES_EXPLAIN') }}</p>

	<table class="table1 zebra-table">
	<thead>
	<tr>
		<th>{{ lang('BOARD_NOTICE_RULE_ACTIVE') }}</th>
		<th>{{ lang('BOARD_NOTICE_RULE_NAME') }}</th>
		<th>{{ lang('BOARD_NOTICE_RULE_VALUE') }}</th>
		<th>{{ lang('BOARD_NOTICE_RULE_VARIABLES') }}</th>
	</tr>
	</thead>
	<tbody>
	{% for rule in allrules %}
		<tr data-id="{{ rule.RULE_NAME }}" class="{% if rule.NOTICE_RULE_CHECKED %}active-rule{% else %}inactive-rule{% endif %}">
			<td class="boardnotice-checkbox">
				<input type="hidden" name="notice_rule_id[{{ rule.RULE_NAME }}]" value="{{ rule.NOTICE_RULE_ID }}" />
				<input type="checkbox" name="notice_rule_checked[{{ rule.RULE_NAME }}]" id="checkbox_{{ rule.RULE_NAME }}" data-rule="checkbox" data-id="{{ rule.RULE_NAME }}" value="1"{% if rule.NOTICE_RULE_CHECKED %} checked{% endif %}/>
			</td>
			<td class="boardnotice-description">
				<strong>{{ rule.RULE_DESCRIPTION }}</strong>
				{% if rule.RULE_EXPLAIN %}
					<br />{{ rule.RULE_EXPLAIN }}
				{% endif %}
			</td>
			<td class="boardnotice-conditions">
				<input type="hidden" name="notice_rule_param_count[{{ rule.RULE_NAME }}]" value="{{ rule.RULE_PARAMETERS_COUNT }}" />
				{% for param in rule.parameters %}
					{% if param.RULE_TYPE == 'yesno' %}
						<label>
							<input type="radio" class="radio" id="notice_rule_conditions[{{ rule.RULE_NAME }}]" name="notice_rule_conditions{{ param.PARAMETER_INDEX }}[{{ rule.RULE_NAME }}][0]" value="1"{% if param.RULE_DATA[0] %} checked="checked"{% endif %} />
							{{ lang('YES') }}
						</label>
						<label>
							<input type="radio" class="radio" name="notice_rule_conditions{{ param.PARAMETER_INDEX }}[{{ rule.RULE_NAME }}][0]" value="0"{% if not param.RULE_DATA[0] %} checked="checked"{% endif %} />
							{{ lang('NO') }}
						</label>
					{% elseif param.RULE_TYPE == 'date' %}
						{{ lang('DAY') ~ lang('COLON') }}
						<select name="notice_rule_conditions{{ param.PARAMETER_INDEX }}[{{ rule.RULE_NAME }}][0]">
							<option value="0">{{ lang('RULE_DATE_ANY') }}</option>
							{% for day in range(1, 31) %}
								<option value="{{ day }}"{% if param.RULE_DATA[0] == day %} selected{% endif %}>{{ day }}</option>
							{% endfor %}
						</select>
						{{ lang('MONTH') ~ lang('COLON') }}
						<select name="notice_rule_conditions{{ param.PARAMETER_INDEX }}[{{ rule.RULE_NAME }}][1]">
							<option value="0">{{ lang('RULE_DATE_ANY') }}</option>
							{% for month in range(1, 12) %}
								<option value="{{ month }}"{% if param.RULE_DATA[1] == month %} selected{% endif %}>{{ month }}</option>
							{% endfor %}
						</select>
						{{ lang('YEAR') ~ lang('COLON') }}
						<select name="notice_rule_conditions{{ param.PARAMETER_INDEX }}[{{ rule.RULE_NAME }}][2]">
							<option value="0">{{ lang('RULE_DATE_ANY') }}</option>
							{% for year in range(2015, 2038) %}
								<option value="{{ year }}"{% if param.RULE_DATA[2] == year %} selected{% endif %}>{{ year }}</option>
							{% endfor %}
						</select>
					{% elseif param.RULE_TYPE == 'int' %}
						<input type="text" maxlength="5" size="10" name="notice_rule_conditions{{ param.PARAMETER_INDEX }}[{{ rule.RULE_NAME }}][]" value="{{ param.RULE_DATA[0] }}">
					{% elseif param.RULE_TYPE == 'list' or param.RULE_TYPE == 'multiple choice' %}
						{% set size = (param.RULE_VALUES_COUNT < 10) ? param.RULE_VALUES_COUNT : 10 %}
						<select{% if param.RULE_TYPE == 'multiple choice'%} multiple="multiple"{% endif %} size="{{ size }}" name="notice_rule_conditions{{ param.PARAMETER_INDEX }}[{{ rule.RULE_NAME }}][]">
							{% for key, value in param.RULE_VALUES %}
								<option value="{{ key }}"{% if key in param.RULE_DATA %} selected{% endif %}>{{ value }}</option>
							{% endfor %}
						</select>
					{% elseif param.RULE_TYPE == 'forums' %}
						<select multiple="multiple" size="10" name="notice_rule_conditions{{ param.PARAMETER_INDEX }}[{{ rule.RULE_NAME }}][]">
							{{ param.RULE_FORUMS }}
						</select>
					{% endif %}
					{{ param.RULE_UNIT }}
				{% endfor %}
			</td>
			<td class="boardnotice-variables">
				{% for variable in rule.RULE_VARIABLES %}
					{{ variable }}<br />
				{% endfor %}
			</td>
		</tr>
	{% else %}
		<tr class="row3">
			<td colspan="{{ ALLRULES_COLSPAN }}">{{ lang('ACP_NO_ITEMS') }}</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>

	<fieldset class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
		<input class="button2" type="submit" name="preview" value="{{ lang('PREVIEW') }}" />
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>

{% include 'overall_footer.html' %}
