{% include 'overall_header.html' %}

<script>
	var form_name = 'acp_board_notice';
	var text_name = 'board_notice_text';
	var load_draft = false;
	var upload = false;
	var imageTag = true;
</script>

<a id="maincontent"></a>
<a href="{U_BACK}" style="float: {S_CONTENT_FLOW_END};">&laquo; {L_BACK}</a>

<h1>{{ lang('ACP_BOARD_NOTICE_SETTINGS') }}</h1>

<p>{{ lang('ACP_BOARD_NOTICE_SETTINGS_EXPLAIN') }}</p>

{% if ERRORS %}
	<div class="errorbox">
		<h3>{{ lang('WARNING') }}</h3>
		<p>{{ ERRORS }}</p>
	</div>
{% endif %}

<form id="acp_board_notice" method="post" action="{{ U_ACTION }}">
	{% if NOTICE_ID %}
		<input type="hidden" name="id" value="{{ NOTICE_ID }}" />
	{% endif %}
	<fieldset>
		<legend>{{ lang('GENERAL_OPTIONS') }}</legend>
		<dl>
			<dt><label for="board_notice_enable">{LABEL_BOARD_NOTICE_ACTIVE}{L_COLON}</label></dt>
			<dd>
				<label><input type="radio" class="radio" id="board_notice_active" name="board_notice_active" value="1"<!-- IF BOARD_NOTICE_ACTIVE --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
				<label><input type="radio" class="radio" name="board_notice_active" value="0"<!-- IF not BOARD_NOTICE_ACTIVE --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="board_notice_title">{LABEL_BOARD_NOTICE_TITLE}{L_COLON}</label><br /><span>{BOARD_NOTICE_TITLE_EXPLAIN}</span></dt>
			<dd>
				<input name="board_notice_title" type="text" id="board_notice_title" value="{BOARD_NOTICE_TITLE}" size="50" maxlength="100" />
			</dd>
		</dl>
	</fieldset>

	{% if IF BOARD_NOTICE_PREVIEW %}
		<fieldset>
			<legend>{LABEL_BOARD_NOTICE_PREVIEW}</legend>
			<div style="padding:10px; font-size:1.0em; overflow: auto; <!-- IF BOARD_NOTICE_BGCOLOR -->background-color:#{BOARD_NOTICE_BGCOLOR}<!-- ENDIF -->">{BOARD_NOTICE_PREVIEW}</div>
		</fieldset>
	{% endif %}

	<fieldset>
		<legend>{LABEL_BOARD_NOTICE_TEXT}</legend>
		<dl>
			<dt><label for="board_notice_bgcolor">{LABEL_BOARD_NOTICE_BGCOLOR}{L_COLON}</label><br /><span>{LABEL_BOARD_NOTICE_BGCOLOR_EXPLAIN}</span></dt>
			<dd>
				<input name="board_notice_bgcolor" type="text" id="board_notice_bgcolor" value="{BOARD_NOTICE_BGCOLOR}" size="6" maxlength="6" <!-- IF BOARD_NOTICE_BGCOLOR -->style="border-right:20px solid #{BOARD_NOTICE_BGCOLOR}"<!-- ENDIF --> />
			</dd>
		</dl>
		{% include 'acp_posting_buttons.html' %}

		<dl class="responsive-columns">
			<dt style="width: 90px;" id="color_palette_placeholder" data-orientation="v" data-height="12" data-width="15" data-bbcode="true"></dt>
			<dd style="margin-{S_CONTENT_FLOW_BEGIN}: 90px;">
				<textarea name="board_notice_text" rows="10" cols="60" style="width: 95%;" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" data-bbcode="true">{BOARD_NOTICE_TEXT}</textarea>
			</dd>
			<dd style="margin-{S_CONTENT_FLOW_BEGIN}: 90px; margin-top: 5px;">
				<!-- IF S_BBCODE_ALLOWED -->
					<label><input type="checkbox" class="radio" name="disable_bbcode"<!-- IF S_BBCODE_DISABLE_CHECKED --> checked="checked"<!-- ENDIF --> /> {L_DISABLE_BBCODE}</label>
				<!-- ENDIF -->
				<!-- IF S_SMILIES_ALLOWED -->
					<label><input type="checkbox" class="radio" name="disable_smilies"<!-- IF S_SMILIES_DISABLE_CHECKED --> checked="checked"<!-- ENDIF --> /> {L_DISABLE_SMILIES}</label>
				<!-- ENDIF -->
				<!-- IF S_LINKS_ALLOWED -->
					<label><input type="checkbox" class="radio" name="disable_magic_url"<!-- IF S_MAGIC_URL_DISABLE_CHECKED --> checked="checked"<!-- ENDIF --> /> {L_DISABLE_MAGIC_URL}</label>
				<!-- ENDIF -->
			</dd>
			<dd style="margin-{S_CONTENT_FLOW_BEGIN}: 90px; margin-top: 10px;"><strong>{L_OPTIONS}{L_COLON} </strong>{BBCODE_STATUS} :: {IMG_STATUS} :: {FLASH_STATUS} :: {URL_STATUS} :: {SMILIES_STATUS}</dd>
			<dd style="margin-{S_CONTENT_FLOW_BEGIN}: 90px; margin-top: 10px;"><strong>{L_INFO}{L_COLON} </strong>{VARIABLES_EXPLAIN}</dd>
		</dl>

		<dl>
			<dt><label for="board_notice_style">{LABEL_BOARD_NOTICE_STYLE}{L_COLON}</label><br /><span>{LABEL_BOARD_NOTICE_STYLE_EXPLAIN}</span></dt>
			<dd>
				<input name="board_notice_style" type="text" id="board_notice_style" value="{BOARD_NOTICE_STYLE}" size="20" maxlength="50" />
			</dd>
		</dl>
	</fieldset>

	<h1>{ACP_BOARD_NOTICE_RULES}</h1>

	<p>{ACP_BOARD_NOTICE_RULES_EXPLAIN}</p>

	<table class="table1 zebra-table">
	<thead>
	<tr>
		<th>{BOARD_NOTICE_RULE_ACTIVE}</th>
		<th>{BOARD_NOTICE_RULE_NAME}</th>
		<th>{BOARD_NOTICE_RULE_VALUE}</th>
		<th>{BOARD_NOTICE_RULE_VARIABLES}</th>
	</tr>
	</thead>
	<tbody>
	<!-- BEGIN allrules -->
		<tr data-id="{allrules.RULE_NAME}" class="<!-- IF allrules.NOTICE_RULE_CHECKED -->active-rule<!-- ELSE -->inactive-rule<!-- ENDIF -->">
			<td class="boardnotice-checkbox">
				<input type="hidden" name="notice_rule_id[{allrules.RULE_NAME}]" value="{allrules.NOTICE_RULE_ID}" />
				<input type="checkbox" name="notice_rule_checked[{allrules.RULE_NAME}]" data-rule="checkbox" data-id="{allrules.RULE_NAME}" value="1"<!-- IF allrules.NOTICE_RULE_CHECKED --> checked<!-- ENDIF -->/>
			</td>
			<td class="boardnotice-description">
				<strong>{allrules.RULE_DESCRIPTION}</strong>
			</td>
			<td class="boardnotice-conditions">{allrules.RULE_CONDITIONS} {allrules.RULE_UNIT}</td>
			<td class="boardnotice-variables">{allrules.RULE_VARIABLES}</td>
		</tr>
	<!-- BEGINELSE -->
		<tr class="row3">
			<td colspan="{ALLRULES_COLSPAN}">{L_ACP_NO_ITEMS}</td>
		</tr>
	<!-- END allrules -->
	</tbody>
	</table>

	<fieldset class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />&nbsp;
		<input class="button2" type="submit" name="preview" value="{L_PREVIEW}" />
		{S_FORM_TOKEN}
	</fieldset>
</form>

{% include 'overall_footer.html' %}
