{% include 'overall_header.html' %}

<a id="maincontent"></a>

<h1>{{ lang('ACP_BOARD_NOTICES_MANAGER') }}</h1>

<p>{{ lang('ACP_BOARD_NOTICES_MANAGER_EXPLAIN') }}</p>

{% if NOTICE  %}
	<div class="successbox">
		<h3>{{ lang('NOTIFY') }}</h3>
		<p>{{ NOTICE }}</p>
	</div>
{% endif %}

<form id="acp_icons" method="post" action="{{ U_ACTION }}">

<fieldset class="tabulated">

<legend>{{ lang('BOARD_NOTICE_TITLE') }}</legend>

<table class="table1 zebra-table">
	<thead>
		<tr>
			<th>{{ lang('BOARD_NOTICE_TITLE') }}</th>
			<th></th>
			<th>{{ lang('BOARD_NOTICE_RULES') }}</th>
			<th>{{ lang('COLUMN_CAN_DISMISS') }}</th>
			<th>{{ lang('ACTIVE') }}</th>
			<th></th>
			<th>{{ lang('OPTIONS') }}</th>
		</tr>
	</thead>
	<tbody>
	{% for notice in notices %}
		<tr>
			<td>{{ notice.TITLE }}</td>
			<td style="text-align: center;"><a href="{{ notice.PREVIEW_LINK }}" target="board-notices-preview">{{ lang('PREVIEW') }}</a></td>
			<td style="text-align: right;">{{ notice.RULES }}</td>
			<td style="text-align: center;">{% if notice.DISMISS %} {{ lang('YES') }} {% else %} {{ lang('NO') }} {% endif %}</td>
			<td style="text-align: center;">{% if notice.ENABLED %} {{ lang('YES') }} {% else %} {{ lang('NO') }} {% endif %}</td>
			<td style="white-space: nowrap; text-align: center; vertical-align: middle;">&nbsp;
				{% if notice.ENABLED %}
					<a href="{{ notice.U_DISABLE }}">{{ lang('DISABLE') }}</a>
				{% else %}
					<a href="{{ notice.U_ENABLE }}">{{ lang('ENABLE') }}</a>
				{% endif %}
			&nbsp;</td>
			<td class="actions" style="text-align: right;">
				<span class="first-disabled" style="display:none;">{{ ICON_MOVE_FIRST_DISABLED }}</span>
				<span class="first"><a href="{{ notice.U_MOVE_FIRST }}" data-ajax="row_first">{{ ICON_MOVE_FIRST }}</a></span>
				<span class="up-disabled" style="display:none;">{{ ICON_MOVE_UP_DISABLED }}</span>
				<span class="up"><a href="{{ notice.U_MOVE_UP }}" data-ajax="row_up">{{ ICON_MOVE_UP }}</a></span>
				<span class="down-disabled" style="display:none;">{{ ICON_MOVE_DOWN_DISABLED }}</span>
				<span class="down"><a href="{{ notice.U_MOVE_DOWN }}" data-ajax="row_down">{{ ICON_MOVE_DOWN }}</a></span>
				<span class="last-disabled" style="display:none;">{{ ICON_MOVE_LAST_DISABLED }}</span>
				<span class="last"><a href="{{ notice.U_MOVE_LAST }}" data-ajax="row_last">{{ ICON_MOVE_LAST }}</a></span>
				<a href="{{ notice.U_EDIT }}">{{ ICON_EDIT }}</a>
				<a href="{{ notice.U_DELETE }}" data-ajax="row_delete">{{ ICON_DELETE }}</a>
			</td>
		</tr>
	{% else %}
		<tr class="row3">
			<td colspan="{{ COLSPAN }}">{{ lang('ACP_NO_ITEMS') }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
<p class="quick">
	<input class="button2" name="add" type="submit" value="{{ BOARD_NOTICE_ADD }}" />
</p>
{{ S_FORM_TOKEN }}
</fieldset>
</form>

{% include 'overall_footer.html' %}
