{% if S_BOARD_NOTICES %}

	{% if not definition.INCLUDED_COLPICKJS %}
		{% INCLUDEJS '@fq_boardnotices/colpick.js' %}
		{% INCLUDECSS '@fq_boardnotices/colpick.css' %}
		{% DEFINE INCLUDED_COLPICKJS = true %}
	{% endif %}

	<script>
		var boardNoticeBgColor = '{{ BOARD_NOTICE_BGCOLOR|e('js') }}';
		var boardNoticeDefaultBgColor = '{{ BOARD_NOTICE_DEFAULT_BGCOLOR|e('js') }}';
	</script>

	{% INCLUDEJS '@fq_boardnotices/boardnotices.js' %}
	{% INCLUDECSS '@fq_boardnotices/boardnotices.css' %}

{% endif %}
