/* style the announcement banner */
#fq_notice {
	margin: 10px 0;
	font-size: 1.1em;
	padding: 10px;
	border-radius: 7px;
	background-color: #ECD5D8; /* default color */
}

/* zero out any text margins and scroll any overflow */
#fq_notice div {
	margin: 0;
	overflow-x: auto;
	overflow: hidden;
	font-size: 1.1em;
	line-height: 1.5em;
}


/* fix for lists, force them to display inside containing div */
#fq_notice ul, #fq_notice ol {
	margin-left: 20px;
}

.rtl #fq_notice ul, .rtl #fq_notice ol {
	margin-left: 0;
	margin-right: 20px;
}

/* clear floats */
.clearfix:after {
	content: '.';
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
