/* style the announcement banner */
#fq_notice {
	margin: 10px 0;
	font-size: 1.1em;
	padding: 10px;
	border-radius: 7px;
}

/* zero out any text margins and scroll any overflow */
#fq_notice div {
	margin: 0;
	overflow-x: auto;
	overflow: hidden;
	font-size: 1.1em;
	line-height: 1.5em;
}

/* make posted images responsive */
#fq_notice .postimage {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 100%;
}

/* style the close button */
#fq_notice .close {
	background: transparent url('images/close.png') no-repeat 0 0;
	opacity: 0.6;
	float: right;
	width: 12px;
	height: 12px;
	margin: 0 0 0 4px;
}

/* reposition close button for right to left languages */
.rtl #fq_notice .close {
	float: left;
	margin: 0 4px 0 0;
}

/* hide close button on desktops by default */
.notouch #fq_notice .close {
	opacity: 0;
	transition: opacity 0.5s;
}

/* display the close button on mouse-over of the banner */
.notouch #fq_notice:hover .close {
	opacity: 0.6;
}

/* fix for lists, force them to display inside containing div */
#fq_notice ul, #fq_notice ol {
	margin-left: 20px;
}

.rtl #fq_notice ul, .rtl #fq_notice ol {
	margin-left: 0;
	margin-right: 20px;
}

/* clear floats */
.clearfix:after {
	content: '.';
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
